{{define "contacts.html"}}
    <!DOCTYPE html>
    <html lang="{{or .Lang "en"}}">
    {{template "head" .}}
    <body>
    {{template "header" .}}
    {{template "sidebar" .}}

    <div id="content" class="content content__main">
        <h1>TODO</h1>
    </div>

    {{template "footer" .}}
    </body>
    </html>
{{end}}