{{define "page.html"}}
    <!DOCTYPE html>
    <html lang="{{or .Lang "en"}}">
    {{template "head" .}}
    <body>
    {{template "header" .}}

    <div id="content" class="container content">
        {{.Content}}
    </div>

    {{template "footer" .}}
    </body>
    </html>
{{end}}