{{define "card"}}
    <div class="card">
        <a href="{{.Link}}">
            <div class="card__body">
                <h5 class="card__title">{{.Title}}</h5>
                <h6 class="card__subtitle">{{.SubTitle}}</h6>
                <p class="card-text">{{.Preview}}</p>
            </div>
        </a>
    </div>
{{end}}